<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" title="GitHub" href="https://highlightjs.org/static/styles/github.css">
  <link rel="alternate stylesheet" title="Tomorrow Night" href="https://highlightjs.org/static/styles/tomorrow-night.css">
  <link rel="alternate stylesheet" title="Tomorrow" href="https://highlightjs.org/static/styles/tomorrow.css">
  <style type="text/css"> * { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 12px; } </style>
  <script src="https://highlightjs.org/static/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>

{{#features}}
  <pre><code class="gherkin">{{.}}</code></pre>
{{/features}}

</body>
</html>
